.header {
    width: 100%;
    display: flex;
  }
  
  .my-photo {
    width: 40%;
  }
  
  .my-photo img {
    width: 100%;
  }
  
  .header-content {
    width: 60%;
    margin: 20px;
  }
  
  section {
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
  
  .section-header {
    cursor: pointer;
  }
  
  .experience,
  .studies {
    display: none;
  }
  
  .active {
    display: block;
    background-color: azure;
    padding: 10px;
  }

  h1 {
      font-family: 'Krona One', sans-serif;
      color: #31C3F7;
      text-align: center;
  }

  p {
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    color: #0883AF;
  }

  .section-studies, .section-experience {
    font-family: 'Krona One', sans-serif;
    color: #31C3F7;
    margin-bottom: 10px;
  }

  li {
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    color: #0883AF;
  }

button {
    font-family: 'Pacifico', cursive;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #0883AF;
}

    footer {
    width: 100%;
    height: 60px;
    background-color: #0883AF;
}

    footer li{
      float: left;
      width: 25%;
      list-style: none;
      font-family: 'Krona One', sans-serif;
      text-align: center;
      margin-top: 20px;
}

  footer a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

footer a:hover{
    text-decoration: none;
    color:  #31C3F7;
    font-size: 22px;
}